@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


/* styles/globals.css */

:root {
  --main-orange-color: #FF9F1C;
  --secondary-orange-color: #FFBF69;
  --white: #FFFFFF;
  --soft-tourquise-color: #CBF3F0;
  --strong-tourquise-color: #2EC4B6;
  --font-size: 16px;
}

/* Estilos básicos para todo el documento */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
}

/* Contenedor principal de la aplicación */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos para encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Estilos de enlaces */
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para los formularios */
input,
textarea,
select {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
}

/* Añadir espaciado en la parte superior de la página */
main {
  padding: 1em;
}



/* globals.css */

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #f0f0f0, #d9d9d9); /* Fondo del track con gradiente */
  border-radius: 10px; /* Esquinas redondeadas del track */
}

::-webkit-scrollbar-thumb {
  background: #4f46e5; /* Color del thumb */
  border-radius: 10px; /* Esquinas redondeadas del thumb */
}

/* Para mejorar la apariencia del thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #3b36c9; /* Color más oscuro al hover */
}

/* Opciones para Firefox */
.scrollbar {
  scrollbar-width: thin; /* Estilo del scrollbar */
  scrollbar-color: #4f46e5 #f0f0f0; /* Color del thumb y del track */
}

/* Aplicar los estilos a toda la app */
html {
  scrollbar-width: thin; /* Para Firefox */
}
