.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profileHeader {
  text-align: center;
  margin-bottom: 20px;
}

.profileHeader h2 {
  font-size: 24px;
  color: #333;
}

.profileForm {
  width: 100%;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dobContainer input {
  width: 30%;
  margin-right: 10px;
}



.verifyEmail {
  font-size: 12px;
  color: #ff8000;
  margin-left: 10px;
  text-decoration: none;
}

.saveBtn {
  width: 100%;
  padding: 10px;
  background-color: #fda500;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.saveBtn:hover {
  background-color: #e69600;
}
